* {
    margin: 2px;
    padding: 0;
    font-family: sans-serif;
    background-color: #ffffff;
}

.chartCard {
    background: "white";
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.chartBox {
    
    width: 46vw;
    border: 1px solid #000;
    border-radius: 10px;
    border-width: 4px;
}

.chartCointainer {
    display: flex;
    flex-wrap: wrap;
}
